:root {
  --primary: #4C8BF5;
  --danger: #ff4d4f;
  --bg: #f8f9fb;
  --card: #ffffff;
  --text-dark: #222;
  --text-light: #6b7280;
  --border: #e5e7eb;
  --soft-shadow: 0px 4px 12px rgba(0,0,0,0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text-dark);
}
