.dashboard-container {
  padding: 30px;
  width: 100%;
  font-family: Inter, sans-serif;
}

.dashboard-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.dashboard-top {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}

.chart-wrapper {
  width: 250px;
  height: 250px;
}

.stats-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-label {
  font-size: 16px;
  color: #6c6c6c;
}

.stats-value {
  font-size: 48px;
  font-weight: 700;
  color: #4F8FF7;
}

.section-title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.recent-section {
  margin-top: 12px;
}

.recent-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  font-size: 15px;
}

.amount {
  color: #4F8FF7;
  font-weight: 600;
}

.empty {
  color: #777;
}

.coming-soon {
  margin-top: 35px;
  background: #f7faff;
  padding: 18px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.coming-icon {
  width: 50px;
}
