.dashboard-container {
  padding: 20px;
}

.summary-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.06);
  width: 60%;
  margin-bottom: 30px;
}

.summary-card h3 {
  margin: 0;
  font-weight: 500;
}

.amount {
  font-size: 40px;
  font-weight: bold;
  color: #4A8CFF;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 8px;
  margin: 8px 0;
  width: 60%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.transaction-item .amt {
  color: #4A8CFF;
  font-weight: bold;
}
